body {
    background-color: #4f4f4f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
}

::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-track{
    background: #363636;
}
::-webkit-scrollbar-thumb{
    background: #888;
}
::-webkit-scrollbar-thumb:hover{
    background: #555;
}


.centerbox{
    width: 600px;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1a1a1a;
    border: 1px solid #575757;
    outline: 3px solid #363636;
    box-shadow: 0 0 0 4px #575757, 0 0 0 5px #1a1a1a;
}

.gradientbar {
    background: rgb(76,188,219);
    background: linear-gradient(90deg, rgba(76,188,219,1) 0%, rgba(215,67,223,1) 51%, rgba(251,255,0,1) 100%); 
    width: 598px;
    height: 2px;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid #1a1a1a;
    box-shadow: inset 0px -1px 0px #15151591;
}

input[type="range"] { 
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 6px;
    width: 90%;
    cursor: pointer;
    border-radius: 1px solid #222222; /* iOS */

}

::-webkit-slider-runnable-track {
    background: #707070;
    box-shadow: inset -2px 5px 10px rgb(43, 42, 42);

}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0px; /* 1 */
    height: 10px;
    background: #96C83CFF;
    box-shadow: -200px 0 0 200px #96C83CFF; /* 2 */
    border-left: none; /* 1 */
}

::-moz-range-track {
    height: 7px;
    background: #707070;
    box-shadow: inset 0px 5px 10px rgb(53, 53, 53);
}

::-moz-range-thumb {
    background: #96C83CFF;
    height: 7px;
    width: 10px;
    border: none;
    border-radius: 0 !important;
    box-shadow: -200px 0 0 200px #96C83CFF;
    box-sizing: border-box;
}

::-ms-fill-lower { 
    background: #96C83CFF;
}

::-ms-thumb { 
    background: #96C83CFF;
    border: none;
    height: 7px;
    width: 10px;
    box-sizing: border-box;
}

::-ms-ticks-after { 
    display: none; 
}

::-ms-ticks-before { 
    display: none; 
}

::-ms-track { 
    background: #707070;
    box-shadow: inset 0px 3px 10px rgb(53, 53, 53);
    color: transparent;
    height: 7px;
    border: none;
}

::-ms-tooltip { 
    display: none;
}

p{
    padding-left: 20px;
}


.tab{
    float: left;
    position: relative;
    top: 4px;
    width: 79px;
    height: 531px;
    padding-top: 15px;
    background-color: #1a1a1a;
    border-right: 1px solid #444444;
    left: 1px;
}

.tab button{
    display: block;
    background-color: #1a1a1a;
    color: rgb(121, 121, 121);
    width: 100%;
    height: 80px;
    border: none;
}

.tab button.active{
    padding-left: 1px ;
    color:rgb(214, 214, 214);
    background-color: #252525;
    border:none;
    border-top: 1px solid #444444;
    border-bottom: 1px solid #444444;
    background-image: radial-gradient(#151515 10%, transparent 11%),
    radial-gradient(#151515 10%, transparent 11%);
    background-size: 5px 5px;
    background-position: 0 0, 8px 8px;
    background-repeat: repeat;
    outline: #252525 solid 1px;
}

.tab button.active:hover{
    color:rgb(214, 214, 214);
}

.tab button:hover{
    color: #cacaca;

}


.tabcontent{
    position: fixed;
    color: white;
    left: 81px;
    top: 4px;
    width: 86.5%;
    height: 546px;
    display: none;
    background-color: #252525;
    background-image: radial-gradient(#151515 10%, transparent 11%),
    radial-gradient(#151515 10%, transparent 11%);
    background-size: 5px 5px;
    background-position: 0 0, 8px 8px;
    background-repeat: repeat;
    border: none;
}
.panel1{
    position: fixed;
    background-color: #1a1a1a;
    left: 110px;
    top: 5%;
    width: 35%;
    height: 90%;
    border: none;
    border: 1px solid #444444;
    outline: #1a1a1a solid 1px;
}

.panel2{
    position: fixed;
    background-color: #1a1a1a;
    left: 60%;
    top: 5%;
    width: 35%;
    height: 90%;
    border: none;
    border: 1px solid #444444;
    outline: #1a1a1a solid 1px;
}

.panel3{
    position: fixed;
    background-color: #1a1a1a;
    left: 110px;
    top: 5%;
    width: 35%;
    height: 60%;
    border: none;
    border: 1px solid #444444;
    outline: #1a1a1a solid 1px;
}

.panel4{
    position: fixed;
    background-color: #1a1a1a;
    left: 110px;
    top: 70%;
    width: 35%;
    height: 25%;
    border: none;
    border: 1px solid #444444;
    outline: #1a1a1a solid 1px;
}

.horizpanel{
    position: fixed;
    background-color: #1a1a1a;
    left: 110px;
    top: 5%;
    width: 76.6%;
    height: 10%;
    border: none;
    border: 1px solid #444444;
    outline: #1a1a1a solid 1px;
}

.ctabpanel1{
    position: fixed;
    background-color: #1a1a1a;
    left: 110px;
    top: 20%;
    width: 35%;
    height: 75%;
    border: none;
    border: 1px solid #444444;
    outline: #1a1a1a solid 1px;
}

.ctabpanel2{
    position: fixed;
    background-color: #1a1a1a;
    left: 60%;
    top: 20%;
    width: 35%;
    height: 75%;
    border: none;
    border: 1px solid #444444;
    outline: #1a1a1a solid 1px;
}